---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { siteConfig } from "@/config/site";
import Hero from "@/components/widgets/Hero.astro";
import Features from "@/components/widgets/Features.astro";
import openSourceImg from "@/assets/images/open-source.png";
import Content2 from "@/components/widgets/Content2.astro";
import ImageCarousel from "@/components/widgets/ImageCarousel.astro";
import AnimatedCTA from "@/components/widgets/AnimatedCTA.astro";
import Integrations from "@/components/widgets/Integrations.astro";
const metadata = {
  title: `${siteConfig.name} — Nätverk och företagsutveckling i Linköping`,
  description: siteConfig.description,
  ignoreTitleTemplate: true,
};

import { Image } from "astro:assets";
import smilBanner from "@/assets/smil-banner-utvp.png";
import smilLogo from "@/assets/smil-logga.png";
import smil40 from "@/assets/smil-40.png";
import Testimonials from "@/components/widgets/Testimonials.astro";
import CallToAction from "@/components/widgets/CallToAction.astro";
---

<BaseLayout {metadata}>
  <Hero
    title="VÄLKOMMEN TILL SMIL"
    subtitle="Linköpings nätverk för företagsledare och entreprenörer"
    bgImage={{
      src: smilBanner,
      alt: "SMIL Banner",
    }}
    description={`${siteConfig.description}`}
    actions={[
      {
        text: "Om SMIL",
        href: "/om-smil",
        variant: "secondary",
        icon: "lucide:smile",
        ariaLabel: "Om SMIL - Information om oss",
      },
      {
        text: "Bli medlem idag!",
        href: "/bli-medlem",
        variant: "primary",
        icon: "lucide:user-plus",
        ariaLabel: "Bli medlem idag! - Länk till medlemskapsformulär",
      },
    ]}
  />
  <Features
    tagline="Väx med SMIL"
    title="Vårt erbjudande"
    subtitle="SMIL erbjuder flertal möjligheter för företag att utväcklas oavsätt storlek!"
    features={[
      {
        title: "Evenemang",
        description:
          "Base configuration for Meta tags, Open Graph, and Sitemap generation.",
        icon: "lucide:calendar-days",
        iconClass: "bg-primary/10 text-primary",
      },
      {
        title: "Utbildningsprogram",
        description: "Lightweight structure for fast load times.",
        icon: "lucide:book-open",
        iconClass: "bg-primary/10 text-primary",
      },
      {
        title: "Nätvärkande med liksinta företagsledare",
        description:
          "Integrated configuration with the latest version of Tailwind CSS.",
        icon: "lucide:network",
        iconClass: "bg-primary/10 text-primary",
      },
    ]}
  />
  <Content2 image={smil40} imageAlt="Development">
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        AV ENTREPRENÖRER, <br />
        FÖR ENTREPRENÖRER
      </h3>

      <div class="w-24 h-1 bg-primary rounded-full mb-6"></div>

      <p class="text-lg text-muted-foreground">
        <p>
          <p class="text-lg text-muted-foreground mb-4">
            Vi tror på <strong>låga trösklar</strong> och <strong
              >högt i tak</strong
            >.
          </p>

          <p class="text-lg text-muted-foreground mb-4">
            Vi tror att <strong>möten</strong> med andra människor <strong
              >berikar</strong
            > oss.
          </p>

          <p class="text-lg text-muted-foreground">
            Vi tror att <strong>tillsammans</strong> kan vi <strong
              >bli klokare</strong
            > än vad vi kan åstadkomma själva.
          </p>
        </p>
      </p>
    </Fragment>
  </Content2>

  <ImageCarousel
    title="Våra evenemang"
    subtitle="Vi anordnar flera olika typer av nätverksträffar och utbildningar"
    images={[
      {
        src: smilBanner,
        alt: "SMIL Banner",
      },
      {
        src: smil40,
        alt: "SMIL 40",
      },
      {
        src: smil40,
        alt: "SMIL 40",
      },
    ]}
  />

  <AnimatedCTA
    title="Bli en del av nätverket!"
    paragraphs={[
      "Syftet med SMIL är att främja företagsutvecklingen i Linköping och att skapa engagemang kring frågor som rör entreprenörskap.",
      "Som medlem hos oss får du tillgång till ett stort nätverk med företagsledare i Linköping. Vi anordnar flera olika typer av nätverksträffar och utbildningar under året där man har möjlighet att dela erfarenheter och knyta nya affärskontakter. Vi vill skapa de bästa förutsättningarna för våra medlemmar att utveckla sitt ledarskap och företagande.",
      "Tillsammans skapar vi en av Europas bästa och mest kreativa entreprenörs- och innovationsmiljöer.",
    ]}
    actions={[
      {
        text: "Bli medlem",
        href: "/bli-medlem",
        variant: "primary",
        icon: "lucide:user-plus",
      },
    ]}
  />
</BaseLayout>
