---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Headline from "@/components/ui/Headline.astro";
import Pagination from "@/components/ui/Pagination.astro";
import PostItem from "@/components/evenemang/PostItem.astro";
import type { GetStaticPathsOptions } from "astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const evenemangEntries = await getCollection("evenemang");

  const today = new Date();
  today.setHours(0, 0, 0, 0);

  const sortedPosts = evenemangEntries
    .filter((post) => post.data && post.data.date)
    .filter((post) => new Date(post.data.date) >= today) // Visa bara framtida datum
    .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

  return paginate(sortedPosts, { pageSize: 6 });
}

const { page } = Astro.props;
const evenemang = page.data;

const metadata = {
  title: "evenemang",
  description: "Latest news and updates from our team.",
};
---

<BaseLayout metadata={metadata}>
  <section class="relative px-4 py-8 sm:px-6 lg:px-8 md:py-12">
    <div class="absolute inset-0 z-0">
      <div
        class="absolute inset-0 bg-linear-to-br from-blue-500/5 via-transparent to-pink-500/5"
      >
      </div>
    </div>
    <div class="relative mx-auto max-w-5xl">
      <Headline
        tagline="Nätverksträffar"
        title="Evenemang"
        subtitle="Smil arrangerar normalt medlemsträffar första torsdagkvällen i månaden. Nedan finner du en lista över de närmaste och mer information om varje träff kan hittas i menyn ovan eller genom att klicka på rubriken."
        classes={{
          container: "reveal mb-12 text-center",
          title:
            "font-heading mb-4 text-4xl font-bold tracking-tight text-foreground md:text-6xl",
          subtitle: "mx-auto max-w-3xl text-xl text-muted-foreground",
        }}
      />

      <div class="flex flex-col gap-8">
        {evenemang.map((post) => <PostItem post={post} />)}
      </div>
      <Pagination page={page} />
    </div>
  </section>
</BaseLayout>
